/*
  $Раздел контактов
*/

.contacts {
  position: relative;
}

.contacts__container {
  position: relative;
}

.contacts__wrapper {
  position: relative;
  width: 100%;
  min-height: 447px;

  background-color: gray;
  background:
    linear-gradient(-10deg, transparent 55px, white 0) bottom right,
    linear-gradient(10deg, transparent 55px, white 0) bottom left;
  background-size: 51% 100%;
  background-repeat: no-repeat;

  z-index: 10;
}

.contacts_list {
  @include list-style-none;
}

.contacts_list__item {
  margin-bottom: 8px;

  text-align: center;
}

.contacts_list__item-link--mail {
  &:hover {
    color: $top-menu-bg-color;
    text-decoration: underline;
  }

  &:focus {
    opacity: 0.3;
    color: $top-menu-bg-color;
  }
}

.contacts__title {
  @include zero-margin-padding;
  padding-top: 47px;
  padding-bottom: 20px;

  color: $top-menu-bg-color;
  font-size: 24px;
  font-weight: 300;

  text-align: center;
}

.contacts_list__item-title {
  @include zero-margin-padding;
  padding-top: 18px;
  padding-bottom: 4px;

  color: $top-menu-bg-color;
  font-size: 18px;
  font-weight: 700;
}

.contacts_list__item-link {
  color: $contacts__link-color;
  font-size: 24px;
  font-weight: 300;

  text-decoration: none;
}

.contacts__map {
  position: absolute;
  z-index: 1;
  top: 0;

  width: 100%;
  min-height: 583px;
  margin: 0;
  padding: 0;

  background-image: url("../img/bg-map-mobile@1x.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../../img/bg-map-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .contacts {
    position: relative;
    margin-bottom: 45px;
    min-height: 750px;

    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }
  }

  .contacts__wrapper {
    position: relative;
    padding-bottom: 26px;
    width: 100%;

    background-color: $top-menu-text-color;
    background:
      linear-gradient(-12deg, transparent 72px, white 0) bottom right,
      linear-gradient(12deg, transparent 72px, white 0) bottom left;
    background-size: 51% 100%;
    background-repeat: no-repeat;

    z-index: 10;
  }

  .contacts__title {
    margin-top: 8px;
    margin-bottom: 0;
    margin-right: 120px;
    margin-left: 120px;
    padding-top: 40px;
    padding-bottom: 27px;

    font-size: 40px;
    font-weight: 300;
  }

  .contacts_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .contacts_list__item-title {
    @include zero-margin-padding;
    margin-top: 0;
    margin-bottom: 8px;
    padding-top: 16px;
    padding-bottom: 0;
  }

  .contacts_list__item {
    margin-top: 3px;
    margin-left: 58px;
    margin-right: 40px;
    margin-bottom: 16px;
    padding-bottom: 18px;
  }

  .contacts_list__item:last-child {
    margin-left: 40px;
    margin-bottom: 23px;
  }

  .contacts_list__item-link {
    @include zero-margin-padding;
    display: block;
  }

  .contacts__map {
    position: absolute;
    z-index: 1;

    width: 100%;
    min-height: 795px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    margin-bottom: 34px;
    min-height: 868px;

    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }
  }

  .contacts__title {
    margin-top: 0;
    padding-top: 0;
    padding-right: 70px;
    padding-left: 70px;
    padding-bottom: 40px;

    font-size: 50px;
    font-weight: 300;
  }

  .contacts_list {
    width: 100%;
    justify-content: space-around;
    padding-top: 7px;
    padding-left: 9px;
  }

  .contacts_list__item:last-child {
    @include zero-margin-padding;
  }

  .contacts_list__item {
    @include zero-margin-padding;
    padding-bottom: 18px;
  }

  .contacts_list__item-title {
    margin-bottom: 24px;
  }

  .contacts_list__item--mail {
    order: 3;
  }

  .contacts_list__item--adress {
    order: 2;
  }

  .contacts__wrapper {
    padding-top: 67px;
    padding-bottom: 0;

    background-color: $top-menu-text-color;
    background:
      linear-gradient(-10deg, transparent 95px, white 0) bottom right,
      linear-gradient(10deg, transparent 95px, white 0) bottom left;
    background-size: 51% 100%;
    background-repeat: no-repeat;

    z-index: 10;
  }

  .contacts__map {
    position: absolute;
    z-index: 1;

    width: 100%;
    min-height: 869px;
    margin: 0;
    padding: 0;
  }
}
