/*
  $Раздел особенностей
*/

.features {
  margin-bottom: 57px;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #f2f2f2;
  background: linear-gradient(175deg, transparent 4%, $features-list-bg-color 0%);
}

.features-list {
  @include list-style-none;

  margin-bottom: 9px;
  padding-top: 84px;
  padding-right: 14px;
  padding-left: 14px;

  text-align: center;

  order: 1;
}

.features__slogan {
  margin-top: 0;
  margin-right: 55px;
  margin-bottom: 32px;
  margin-left: 55px;

  background-color: $top-menu-text-color;
  color: $top-menu-bg-color;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.features-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 31px;
}

.features-list__item-phone {
  display: none;
}

.features-list__item:last-child .features-list__item-phone {
  display: block;
  order: 2;

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 157px;
  min-height: 320px;
}

.features-list__item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-list__item:last-child .features-list__item-card {
  padding-bottom: 40px;
}

.features-title {
  @include zero-margin-padding;
  padding-bottom: 12px;

  color: $features-title-text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.features-description {
  @include zero-margin-padding;
  padding-right: 11px;
  padding-left: 11px;

  color: $top-menu-bg-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.features__facts {
  display: none;
}

.features__iphones-screen-list {
  @include list-style-none;
  display: flex;
  flex-direction: column;

  order: 2;
}

.information__iphone-screen {
  &:nth-child(1),
  &:nth-child(2) {
    display: none;
  }

  figure {
    margin: 0;
  }
}

.mobile-wrapper {
  order: 2;

  margin-top: -126px;
  background-color: #ffffff;
  width: 320px;
  min-height: 87px;
}

@media (min-width: $tablet-width) {
  .features {
    margin-bottom: 80px;
  }

  .features__wrapper {
    position: relative;
    flex-direction: row;
    margin-bottom: 40px;

    background: linear-gradient(176deg, transparent 16%, $features-list-bg-color 0%);
  }

  .features__slogan {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 12px;

    font-size: 40px;
    font-weight: 300;
    text-align: center;
  }

  .features__slogan--second-part {
    padding-top: 4px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .features-list__item:last-child .features-list__item-phone {
    display: block;
    position: absolute;
    top: 52px;
    left: 20px;
    width: 268px;
    min-height: 481px;

    order: 1;

    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .features-list__item-card {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .features-list__item:last-child .features-list__item-card {
    order: 2;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .features-list {
    order: 2;

    margin-left: 197px;
    padding-left: 107px;
    padding-top: 120px;
  }

  .features-list__item {
    margin-bottom: 35px;

    text-align: left;
  }

  .features-title {
    margin-left: 27px;
    padding-bottom: 10px;
  }

  .features-description {
    padding-top: 2px;
    margin-left: 15px;

    text-align: left;
  }

  .features__facts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  // Циферблат часов
  .timer {
    position: relative;
    margin-left: 21px;

    &:before {
      position: absolute;
      content: "";
      width: 175px;
      height: 175px;
      top: 54px;
      left: 16px;

      border: 15px solid #d22856;
      border-radius: 50%;
    }

    &:after {
      position: absolute;
      content: "24";
      top: 76px;
      left: 63px;

      color: #d22856;
      font-family: "Open Sans";
      font-size: 96px;
      font-weight: 700;
      line-height: 149.47px;
    }
  }

  .features__facts-title {
    margin-top: 53px;
    margin-left: 30px;
    margin-bottom: 10px;
    padding-right: 150px;

    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }

  .features__facts-link {
    margin-top: 0;
    margin-left: 30px;
    color: #d22856;

    text-decoration: underline;
  }

  .features__facts-description {
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 13px;
    padding-right: 35px;

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  .mobile-wrapper {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .features {
    margin-bottom: 72px;
  }

  .features__wrapper {
    flex-direction: column;
    align-items: inherit;
    margin-bottom: 0;

    background: linear-gradient(176deg, transparent 19%, #f2f2f2 0%);
  }

  .features__slogan {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 12px;

    font-size: 50px;
    font-weight: 300;
    text-align: center;
  }

  .features__slogan--second-part {
    margin-bottom: 0px;
    padding-top: 4px;
    padding-left: 116px;
    padding-right: 114px;
  }

  .features-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 0;
    margin-bottom: 54px;
    padding-top: 78px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .features-list__item-phone {
    margin-left: -35px;
    margin-bottom: 55px;
    display: block;
    order: 1;
    width: 292px;
    min-height: 302px;

    background-repeat: no-repeat;
    background-size: cover;
  }

  .features-list__item {
    margin-bottom: 5px;

    &:nth-child(1) .features-list__item-phone {
      background-image: url("../img/iphone-screen-1-desktop@1x.png");
    }

    &:nth-child(2) .features-list__item-phone {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");
    }

    &:nth-child(3) .features-list__item-phone {
      position: static;
      margin-left: 0;
      width: 292px;
      min-height: 302px;
      background-image: url("../img/iphone-screen-3-desktop@1x.png");
    }

    &:nth-child(3) .features-list__item-card {
      margin-left: -46px;
    }

    &:nth-child(3) .features-title {
      padding-left: 42px;
    }
  }

  .features-list__item-card {
    order: 2;

    margin-left: -30px;
    padding-left: 27px;
    padding-right: 0px;
    padding-bottom: 5px;
  }

  .features-title {
    @include zero-margin-padding;
    margin-bottom: 28px;
    padding-left: 1px;
    padding-right: 35px;

    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
  }

  .features-description {
    @include zero-margin-padding;
    padding-left: 37px;
    padding-right: 27px;

    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }

  .timer {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;

    & img {
      width: 298px;
      height: 345px;
    }

    &:before {
      width: 222px;
      height: 222px;
      top: 70px;
      left: 24px;
    }

    &:after {
      content: "24";
      top: 114px;
      left: 80px;
      font-size: 120px;
      font-weight: 700;
      line-height: 149.47px;
    }
  }

  .features__facts {
    padding-bottom: 66px;

    background-color: #f2f2f2;
  }

  .features__facts-title {
    margin-top: 94px;
    margin-bottom: 23px;
    padding-right: 0px;

    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }

  .features__facts-description {
    margin-bottom: 32px;

    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }

  .features__facts-link {
    color: #d22856;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-decoration: underline;
  }
}
