/*
  $Раздел навигации
*/

.main-nav {
  width: auto;
  margin: 0 auto;

  background-color: #00000030;
}

.main-nav__top-menu {
  position: relative;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 0;
  padding-left: 20px;
  width: auto;

  z-index: 10;

  background-color: transparentize($top-menu-bg-color, 0.3);
}

.main-nav__logo svg {
  color: #ffffff;
}

.main-nav__logo:hover svg {
  color: #d22856;
}

.main-nav__logo:active svg {
  color: #ffffff;
  opacity: 0.3;
}

.main-nav__logo-tablet {
  display: none;
}

.main-nav__logo-desktop {
  display: none;
}

.main-nav--closed {
  margin-bottom: 13px;
}

.main-nav--closed .main-nav__burger {
  display: relative;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 10px;

    width: 50px;
    height: 4px;

    background-color: #ffffff;
    box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
  }

  &:hover::before {
    background-color: #d22856;
    box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856;
  }

  &:active::before {
    background-color: transparentize(#d22856, 0.7);
    box-shadow: 0 10px 0 0 transparentize(#d22856, 0.7), 0 20px 0 0 transparentize(#d22856, 0.7);
  }
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--opened {
  z-index: 10;

  margin-bottom: 17px;
  min-height: 20vh;

  background-color: $top-menu-bg-color;
}

.main-nav--nojs .main-nav__burger {
  display: none;
}

.main-nav--opened .main-nav__burger {
  display: relative;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 36px;

    width: 30px;
    height: 5px;

    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: #d22856;
  }

  &:active::before,
  &:active::after {
    background-color: transparentize(#d22856, 0.7);
  }
}

.main-nav__burger {
  position: relative;
  z-index: 2;

  display: block;
  padding: 0;
  width: 50px;
  height: 24px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-nav__list {
  @include list-style-none;

  background-color: #283645;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;

  background-color: $top-menu-bg-color;
}

.site-list__item a {
  display: block;
  padding-top: 15px;
  padding-right: 84px;
  padding-bottom: 15px;
  padding-left: 86px;

  color: $top-menu-text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #000000;

  &:visited {
    color: $top-menu-text-color;
  }

  &:hover {
    color: $contacts__link-color;
  }

  &:active {
    color: transparentize($contacts__link-color, 0.7);
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
    margin-bottom: 5%;
  }

  .main-nav__top-menu {
    padding-top: 23px;
    padding-left: 20px;
    padding-right: 16px;
    padding-bottom: 40px;

    align-items: flex-end;
    width: auto;

    background-color: rgba(40, 54, 69, 0.7);
  }

  .main-nav--opened {
    margin-bottom: 4%;
  }

  .main-nav__logo {
    width: 147px;
    height: 40px;
  }

  .main-nav__logo:hover .main-hav__logo-tablet-path {
    fill: #d22856;
  }

  .main-nav__logo:active .main-hav__logo-tablet-path {
    fill: #ffffff;
    opacity: 0.3;
  }

  .main-nav__logo-desktop {
    display: none;
  }

  .main-nav--closed .main-nav__burger {
    display: relative;

    &::before {
      content: "";

      position: absolute;
      top: 3px;
      left: -4px;

      width: 50px;
      height: 4px;

      background-color: #ffffff;
      box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
    }

    &:hover::before {
      background-color: #d22856;
      box-shadow: 0 10px 0 0 #d22856, 0 20px 0 0 #d22856;
    }

    &:active::before {
      background-color: transparentize(#d22856, 0.7);
      box-shadow: 0 10px 0 0 transparentize(#d22856, 0.7), 0 20px 0 0 transparentize(#d22856, 0.7);
    }
  }

  .main-nav--opened .main-nav__burger {
    display: relative;

    &::before,
    &::after {
      content: "";

      position: absolute;
      top: 9px;
      left: -2px;

      width: 30px;
      height: 5px;

      background-color: #ffffff;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after {
      background-color: #d22856;
    }

    &:active::before,
    &:active::after {
      background-color: transparentize(#d22856, 0.7);
    }
  }

  .site-list {
    display: flex;
    flex-direction: column;

    /* Временно для сетки */
    min-height: 70px;
  }

  .main-nav__list {
    background-color: #283645;
  }

  .site-list__item {
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    margin: 0;
    min-height: 115px;

    z-index: 20;

    background-color: transparent;
  }

  .main-nav__top-menu {
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    width: auto;
    align-self: center;

    background-color: transparent;
  }

  .main-nav--closed .main-nav__list {
    display: flex;
  }

  .main-nav--opened {
    background-color: transparent;
  }

  .main-nav__logo {
    @include zero-margin-padding;
    width: 147px;
    min-height: 40px;
  }

  .main-nav__logo-mobile {
    display: none;
  }

  .main-nav__logo-tablet {
    display: none;
  }

  .main-nav__logo-desktop {
    display: block;
    width: 147px;
    height: auto;
  }

  .main-nav__logo:hover .main-nav__logo-desktop-path {
    fill: #d22856;
  }

  .main-nav__logo:active .main-nav__logo-desktop-path {
    fill: #ffffff;
    opacity: 0.3;
  }

  .main-nav__burger {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 620px;

    background-color: transparent;
  }

  .site-list__item--active a[href] {
    padding-top: 9px;
    padding-bottom: 10px;

    border-bottom: 2px solid #ffffff;

    text-decoration: none;
  }

  .site-list__item {
    display: flex;
    align-items: center;
    margin-right: 70px;
  }

  .site-list__item:last-child {
    margin-right: 0;
  }

  .site-list__item a {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    padding-bottom: 8px;

    font-size: 18px;
    font-weight: 400;
    line-height: 18px;

    text-transform: none;
    box-shadow: none;
    background-color: transparent;
    border: none;

    cursor: pointer;

    &:hover {
      color: #d22856;
    }

    &:active {
      color: transparentize(#ffffff, 0.7);
    }
  }
}
