/*
  $Раздел хедера
*/
.page-header {
  position: relative;
}

.page-header--no-main-bg {
  margin-bottom: 32px;

  background-color: #2a3a4a;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 4%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-back-mobile@2x.jpg");
  }
}

.page-header__title {
  display: block;
  margin-right: 48px;
  margin-left: 48px;

  color: $top-menu-text-color;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}

.page-header__title--photo {
  padding-top: 7px;
  padding-bottom: 85px;
}

.page-header__title--contest {
  margin-top: 30px;
  margin-right: 44px;
  margin-left: 44px;
  padding-bottom: 58px;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-color: rgba(0, 0, 0, 0.3);
    background-image: none;
  }

  .page-header--no-main-bg {
    background-color: #2a3a4a;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: 1200px 729px;
    background-position: center;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
    }
  }

  .page-header__wrapper-photo,
  .page-header__wrapper-contest {
    width: $tablet-width;
    min-height: 729px;
  }

  .page-header__title {
    margin-right: 90px;
    margin-left: 90px;

    font-size: 50px;
    font-weight: 300;
  }

  .page-header__title--photo {
    padding-top: 20px;
    padding-bottom: 142px;

    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
  }

  .page-header__title--contest {
    padding-top: 42px;
    padding-bottom: 80px;

    font-size: 50px;
    font-weight: 300;
    line-height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    @include zero-margin-padding;

    background-image: none;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .page-header--no-main-bg {
    background-color: #2a3a4a;

    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 2560px 853px;
    background-position: center 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
    }
  }

  .page-header__title--photo {
    padding-top: 10px;
    padding-bottom: 100px;
    padding-left: 133px;
    padding-right: 136px;
  }

  .page-header__wrapper-photo {
    width: $desktop-width;
    min-height: 853px;
  }

  .page-header__wrapper-contest {
    width: $desktop-width;
    min-height: 853px;
  }

  .page-header__top-menu {
    width: $desktop-width;
  }

  .page-header__title {
    font-size: 50px;
    font-weight: 300;
  }

  .page-header__title--contest {
    padding-top: 30px;
    padding-bottom: 100px;
  }
}
