/*
  $Раздел хедера
*/

*, ::after, ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.container {
  width: $mobile-width;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container--modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: auto;
}

.container--hand-iphone {
  min-height: 462px;

  background-color: transparent;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: 260px 286px;
  background-position: -1px bottom;
}

.page-header {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #2a3a4a;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page-header--no-main-bg {
  margin-bottom: 32px;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
}

// .page-header__wrapper-photo,
// .page-header__wrapper-contest {
//   display: flex;
//   flex-direction: column;
//   align-content: center;
//   align-items: center;
//   width: 320px;
//   min-height: 170px;

//   background-color: transparent;
// }

.page-header__title {
  display: block;
  margin-right: 48px;
  margin-left: 48px;

  color: $top-menu-text-color;
  font-size: 24px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
}

.page-header__title--photo {
  padding-top: 7px;
  padding-bottom: 85px;
}

.page-header__title--contest {
  margin-top: 30px;
  margin-right: 44px;
  margin-left: 44px;
  padding-bottom: 56px;
}

@media (min-width: $tablet-width) {
  .page-header {
    background-color: none;
  }

  .container {
    width: $tablet-width;
    margin: 0 auto;
  }

  .container--modal {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: auto;
  }

  .container--hand-iphone {
    // width: $tablet-width;
    // min-height: 729px;
    min-height: 0;

    background-image: none;
    // background-image: url("../img/iphone-hand-tablet@1x.png");
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-position: bottom;
  }

  .page-header {
    padding-left: 20px;
    padding-right: 20px;

    // background-color: #2a3a4a;

    background-color: transparent;
    background-image: none;
    // background-image: url("../img/bg-back-tablet@1x.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
  }

  .page-header--no-main-bg {
    background-color: #2a3a4a;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .app-wrapper {
    flex-direction: row;
  }

  .page-header__wrapper-photo,
  .page-header__wrapper-contest {
    width: $tablet-width;
    min-height: 729px;
  }

  .page-header__title {
    margin-right: 90px;
    margin-left: 90px;

    font-size: 50px;
    font-weight: 300;
  }

  .page-header__title--photo {
    padding-top: 20px;
    padding-bottom: 139px;

    font-size: 50px;
    font-weight: 300;
    line-height: 60px;
  }

  .page-header__title--contest {
    padding-top: 42px;
    padding-bottom: 80px;

    font-size: 50px;
    font-weight: 300;
    line-height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: $desktop-width;
    margin: 0 auto;
    padding: 0 10px;
  }

  .container--modal {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: auto;
  }

  .container--hand-iphone {
    // width: $desktop-width;
    // min-height: 740px;

    background-image: none;
    // background-image: url("../img/iphone-hand-desktop@1x.png");
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-position: bottom;
  }

  .page-header {
    @include zero-margin-padding;

    background-image: none;
    background-color: transparentize(#000000, 0.7);
    // background-color: #2a3a4a;

    // background-image: url("../img/bg-back-desktop@1x.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
  }

  .page-header--no-main-bg {
    background-color: #2a3a4a;

    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .app-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__wrapper-photo {
    width: $desktop-width;
    min-height: 853px;
  }

  .page-header__wrapper-contest {
    width: $desktop-width;
    min-height: 853px;
  }

  .page-header__top-menu {
    width: $desktop-width;
  }

  .page-header__title {
    font-size: 50px;
    font-weight: 300;
  }

  .page-header__title--photo {
    padding-top: 10px;
    padding-bottom: 100px;
    padding-left: 113px;
    padding-right: 0px;
  }

  .page-header__title--contest {
    padding-top: 30px;
    padding-bottom: 100px;
  }
}
