/*
  $Раздел фотогалерии
*/

.photos__title {
  @include zero-margin-padding;
  margin-bottom: 27px;
  padding-top: 21px;
  padding-right: 40px;
  padding-bottom: 21px;
  padding-left: 40px;

  color: $top-menu-bg-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.photos__title--up {
  padding-top: 11px;
  padding-right: 50px;
  padding-bottom: 21px;
  padding-left: 38px;
  width: 79%;
}

.photos__title--down {
  margin: 0;
  margin-bottom: 43px;
  padding: 0 27px;
  width: 96%;
}

.photos__list {
  @include list-style-none;
  margin-bottom: 24px;
}

.photos__card {
  padding-top: 16px;
  padding-right: 23px;
  padding-bottom: 21px;
  padding-left: 17px;
  width: 86%;
}

.photos__item--panorama-ribbon {
  position: absolute;
  align-self: flex-end;
  padding-top: 7px;
  padding-right: 20px;
  padding-bottom: 6px;
  padding-left: 20px;

  background-color: $contacts__link-color;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;

  z-index: 1;
}

.photos__item {
  display: flex;
  flex-direction: column;
  width: $mobile-width - 40px;
  margin-bottom: 19px;

  background-color: $features-list-bg-color;
}

.photos__item a {
  @include zero-margin-padding;
  text-decoration: none;
}

.photos__item--panorama {
  align-items: center;
}

.photos__image,
.photos__image--panorama {
  @include zero-margin-padding;
}

.photos__author {
  @include zero-margin-padding;
  align-self: flex-start;

  color: $top-menu-bg-color;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.photos__author span {
  font-size: 14px;
  font-weight: 300;
}

.photos__description {
  @include zero-margin-padding;
  align-self: flex-start;
  padding-bottom: 9px;
  width: 100%;

  color: $top-menu-bg-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  word-break: break-all;
}

.photos__likes-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.photos__likes-text {
  @include zero-margin-padding;

  order: 2;

  color: $contacts__link-color;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}

.photos__likes-icon {
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 19px;
  width: 13px;
  height: 12px;

  cursor: pointer;
}

.photos__card--panorama {
  align-items: center;
}

.photos__card--panorama a {
  position: relative;
  align-self: center;
}

@media (min-width: $tablet-width) {
  .photos__title {
    @include zero-margin-padding;
    margin-top: 80px;
    margin-bottom: 50px;

    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }

  .photos__title--up {
    margin-top: 40px;
    margin-bottom: 75px;
    width: 75%;
  }

  .photos__title--down {
    margin-top: 40px;
    margin-right: 90px;
    margin-bottom: 68px;
    margin-left: 85px;
    padding-left: 9px;
    padding-right: 6px;
  }

  .photos__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: $tablet-width;
    margin-bottom: 5px;
  }

  .photos__item {
    box-sizing: border-box;
    margin-left: 20px;
    margin-bottom: 20px;
    width: $mobile-width - 20px;
    max-height: 455px;
  }

  .photos__card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-right: 32px;
    padding-bottom: 26px;
    padding-left: 27px;
    min-height: 155px;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
  }

  .photos__card--panorama {
    flex-direction: row;
    justify-content: space-between;
    width: 620px;
    min-height: 71px;
    padding-top: 10px;
    padding-bottom: 0;
  }

  .photos__card--panorama .photos__author {
    @include zero-margin-padding;
    order: 1;

    margin-top: 10px;
    margin-left: 27px;
  }

  .photos__card--panorama .photos__likes-text {
    @include zero-margin-padding;
    order: 2;

    padding-top: 12px;
    padding-right: 15px;
    padding-bottom: 1px;
  }

  .photos__card--panorama .photos__likes-text--panorama {
    padding-bottom: 0;
    padding-top: 11px;
    padding-right: 62px;
  }

  .photos__card--panorama .photos__likes-wrapper {
    order: 2;

    align-items: baseline;
  }

  .photos__card--panorama .photos__description {
    order: 3;

    margin-bottom: 4px;
    margin-left: 0;
  }

  .photos__author {
    order: 1;

    margin: 0;
  }

  .photos__description {
    order: 2;

    margin-bottom: 4px;
    padding-left: 0;
  }

  .photos__likes-wrapper {
    justify-content: space-between;
  }

  .photos__likes-icon {
    order: 2;

    margin-right: 0;
  }

  .photos__image {
    padding-bottom: 0;
    width: 300px;
    min-height: 300px;
  }

  .title-down {
    margin-top: 40px;
    margin-right: 78px;
    margin-left: 75px;
    margin-bottom: 70px;
  }

  .photos__item--panorama {
    position: relative;
    margin: 0 20px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    width: $tablet-width - 40px;
    max-height: 630px;
    align-items: center;
  }

  .photos__image--panorama {
    width: 660px;
    min-height: 509px;
    padding-bottom: 0;
  }

  .photos__item--panorama-ribbon {
    position: absolute;
    top: 57px;
    right: 0;
    padding-top: 6px;
    padding-right: 19px;
    padding-bottom: 7px;
  }
}

@media (min-width: $desktop-width) {
  .photos__title {
    @include zero-margin-padding;
    margin-top: 40px;
    margin-bottom: 90px;
    width: 62%;
  }

  .photos__list {
    width: $desktop-width;
  }

  .photos__item {
    margin-left: 0;
    margin-bottom: 54px;
    margin-right: 20px;
    max-height: 555px;
  }

  .photos__item:nth-child(3n + 1) {
    margin-right: 0;
  }

  .photos__image {
    width: 300px;
    min-height: 400px;
  }

  .photos__item--panorama {
    @include zero-margin-padding;
    margin-bottom: 50px;
    width: $desktop-width;
    max-height: 603px;

    & a {
      display: flex;
      justify-content: center;
    }
  }

  .photos__item--panorama .photos__-author {
    margin-top: 7px;
  }

  .photos__item--panorama .photos__likes-text {
    padding-top: 9px;
  }

  .photos__item--panorama-ribbon {
    top: 54px;
    right: 0;
    padding-top: 6px;
    padding-right: 19px;
    padding-bottom: 6px;
  }

  .photos__image--panorama {
    @include zero-margin-padding;
    width: 1200px;
    min-height: 506px;
  }

  .photos__card--panorama {
    padding-top: 13px;
    padding-right: 32px;
    padding-bottom: 9px;
    padding-left: 28px;
    width: 100%;
  }

  .photos__card {
    width: 100%;
  }

  .photos__title--down {
    @include zero-margin-padding;
    margin-right: 119px;
    margin-bottom: 66px;
    margin-left: 108px;
  }
}
