/*
  $Раздел подписки
*/
.price {
  padding-top: 94px;
  padding-bottom: 20px;

  background: linear-gradient(176deg, transparent 6%, $features-list-bg-color 0%);

  overflow: hidden;
}

.price__table {
  margin-left: -82%;
  padding-bottom: 25px;
  width: 241%;
}

.price__toggles {
  display: flex;
  justify-content: center;
}

.price__title,
.price__value {
  width: 230px;

  border: 2px solid $top-menu-bg-color;
  background-color: $top-menu-bg-color;
  border-style: none;
  border-collapse: collapse;
}

.price__title {
  padding-top: 18px;
  padding-right: 23px;
  padding-bottom: 21px;
  padding-left: 23px;

  color: $top-menu-text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.price__title--hit {
  position: relative;
  overflow: hidden;


  &::before {
    position: absolute;
    top: 0;
    left: -6px;
    content: url("../img/bg-hit.svg");
    width: 74px;
    height: 73px;
  }

  &::after {
    position: absolute;
    top: 17px;
    left: 7px;
    content: "Хит";
    width: 24px;
    height: 26px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.21px;
    text-transform: uppercase;
    transform: rotate(-45deg);
  }
}

.price__value {
  display: block;

  color: $top-menu-text-color;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

  text-align: center;
}

.price__item {
  padding-top: 12px;
  padding-right: 17px;
  padding-bottom: 12px;
  padding-left: 22px;

  background-color: $top-menu-text-color;
  color: $top-menu-bg-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.price__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.price__item-yes {
  flex-shrink: 0;
  width: 31px;
  height: 23px;

  background-image: url("../img/icon-yes.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.price__item-no {
  position: relative;
  flex-shrink: 0;

  &::after {
    content: url("../img/icon-no.svg");
  }
}

.price__item--desktop {
  display: none;
}

.price__empty-cell {
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .price {
    margin-top: -15px;
    padding-top: 85px;
    padding-bottom: 48px;

    background: linear-gradient(176deg, transparent 12%, #f2f2f2 0%);
  }

  .price__table {
    position: static;
    top: 0;
    left: 0;

    margin: auto;
    padding-left: 20px;
    padding-right: 38px;
    padding-bottom: 18px;
    width: auto;
  }

  .price__item {
    margin: 0;
    padding: 3px;

    color: #ffffff;
  }

  .price__title {
    width: 108px;
    padding-top: 12px;
    padding-bottom: 8px;
    padding-left: 21px;

    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
  }

  .price__value {
    width: 108px;

    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
  }

  .price__title--hit {
    overflow: hidden;

    &::before {
      position: absolute;
      top: -12px;
    }

    &::after {
      position: absolute;
      top: 9px;
      left: 8px;
      content: "Хит";
      width: 24px;
      height: 26px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 21.21px;
      text-transform: uppercase;
      transform: rotate(-45deg);
    }
  }

  .price__item--desktop {
    display: table-cell;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    min-width: 128px;

    color: $top-menu-bg-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    text-transform: none;
  }

  .price__toggles {
    display: none;
  }

  .price__wrapper {
    justify-content: center;
  }

  .price__description {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price {
    margin-top: -42px;
    padding-top: 181px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 96px;

    background: linear-gradient(176deg, transparent 18%, #f2f2f2 0%);
  }

  .price__table {
    @include zero-margin-padding;
    margin: 0 auto;
  }

  .price__item {
    box-sizing: border-box;
    max-width: 240px;
    margin: 0;
    padding-top: 3px;
    padding-left: 21px;
    padding-right: 14px;
    padding-bottom: 14px;
  }

  .price__title,
  .price__value {
    width: 190px;
  }

  .price__title {
    min-width: 190px;
    padding-top: 18px;
    padding-left: 20px;
    padding-bottom: 19px;
  }

  .price__value {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
  }

  .price__item--desktop {
    box-sizing: border-box;
    display: table-cell;
    padding-top: 15px;
    padding-bottom: 14px;
    width: 234px;
    min-height: 59px;

    color: $top-menu-bg-color;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-transform: none;
  }

  .price__title--hit {
    overflow: hidden;

    &::before {
      position: absolute;
      top: 0;
      left: -2px;
    }

    &::after {
      position: absolute;
      top: 16px;
      left: 12px;
      content: "Хит";
      width: 24px;
      height: 26px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 21.21px;
      text-transform: uppercase;
      transform: rotate(-45deg);
    }
  }

  .price__item-no {
    position: relative;

    &::after {
      content: url("../img/icon-no.svg");
      position: absolute;
      top: -10px;
      left: -18px;
    }
  }
}
