/*
  $Раздел загрузки
*/

.app-download {
  background-color: #283645;
}

.app-download__button {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.app-download__description {
  color: #ffffff;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
