/*
  $Раздел конкурса
*/

.contest-form {
  margin-top: 50px;
  margin-bottom: 50px;
}

.fieldset-none {
  @include fieldset-style-none;
}

.contest-form__title {
  margin-right: 25px;
  margin-bottom: 49px;
  margin-left: 25px;

  color: $top-menu-bg-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.contest-form__input-wrapper {
  display: flex;
  flex-direction: column;
}

.contest-form__fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contest-form__fields-name {
  display: flex;
  flex-direction: column;
  // align-items: center;
  width: $mobile-width - 40px;
  margin-bottom: 44px;

  order: 1;
}

.contest-form__label {
  margin-bottom: 8px;
  padding-left: 21px;

  color: $contacts__link-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.contest-form__input-text {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 18px;

  color: $top-menu-bg-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;

  border: 2px solid $price__features-list-bg-color;

  &:hover {
    border: 2px solid $top-menu-bg-color;
  }

  &:focus {
    border: 2px solid $contacts__link-color;
  }
}

.contest-form__fields-legend {
  padding-top: 82px;
  padding-bottom: 20px;

  color: $contacts__link-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  text-align: center;
}

.contest-form__label--radio,
.contest-form__label--checkbox {
  color: $top-menu-bg-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-transform: none;
}

.contest-form__fields-achievments {
  width: $mobile-width - 40px;

  order: 2;
}

.contest-form__fields-achievments,
.contest-form__fields-app-version {
  align-items: flex-start;
  margin-bottom: 44px;

  background-color: $features-list-bg-color;
}

.contest-form__input-checkbox,
.contest-form__input-radio {
  color: $top-menu-bg-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.contest-form__label--checkbox {
  position: relative;
  padding: 5px 20px 20px 50px;
  margin-left: 10px;

  cursor: pointer;

  &:hover input ~ .checkbox__checkmark {
    border: 2px solid #283645;
  }

  input:active ~ .checkbox__checkmark {
    border: 2px solid #d22856;
  }

  input:checked ~ .checkbox__checkmark::after {
    display: block;
  }

  text-align: center;
}

.contest-form__input-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;

  margin-bottom: 50px;
}

.checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 5px;

  width: 35px;
  height: 35px;
  border: 2px solid #e5e5e5;
  background-color: #ffffff;

  &::after {
    content: "";
    position: absolute;
    display: none;

    left: 13px;
    top: 4px;
    width: 8px;
    height: 20px;
    border: solid $contacts__link-color;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}

.contest-form__label--radio {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  padding: 5px 20px 20px 50px;
  margin-left: 10px;

  cursor: pointer;

  &:hover input ~ .radio__checkmark {
    border: 2px solid #283645;
  }

  input:active ~ .radio__checkmark {
    border: 2px solid #d22856;
  }

  input:checked ~ .radio__checkmark::after {
    display: block;
  }
}

.contest-form__input-radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;

  &::after {
    content: "";
    position: absolute;
    display: none;

    left: 11px;
    top: 9px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $contacts__link-color;
  }
}

.contest-form__fields-contacts {
  width: $mobile-width - 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 44px;

  order: 3;
}

.contacts-mobile {
  display: none;
}

.contest-form__fields-app-version {
  width: $mobile-width - 40px;
  margin-bottom: 44px;

  order: 4;
}

.contest-form__fields-emotions {
  width: $mobile-width - 40px;
  margin-bottom: 50px;
  padding-top: 19px;

  order: 5;
}

.contest-form__input-text--emotions {
  padding-bottom: 190px;
}

.contest-form__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  order: 6;
}

.contest-form__button {
  margin-bottom: 10px;
  padding-top: 23px;
  padding-right: 45px;
  padding-bottom: 22px;
  padding-left: 45px;

  background-color: $contest-form__button-bg-color;
  color: $top-menu-text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  border: none;
  border-radius: 5px;

  &:hover {
    background-color: $contest-form__button-hover;
  }

  &:active {
    color: opacify($top-menu-text-color, 0.3)
  }
}

.contest-form__button--disabled {
  background-color: #e5e5e5;
}

.contest-form__note {
  color: $top-menu-bg-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.contest-form__note span {
  color: $contacts__link-color;
}

// .logotype-pink {
//   margin-bottom: 43px;
// }

// .page-footer__list {
//   margin-bottom: 43px;
// }

@media (min-width: $tablet-width) {
  .contest-form {
    // margin-top: -280px;

    background-color: $top-menu-text-color;
  }

  .fieldset-none {
    padding-top: 30px;
    padding-right: 40px;
    padding-bottom: 30px;
    padding-left: 40px;

    border: 2px solid #e5e5e5;
  }

  .contest-form__fields {
    width: $tablet-width;
  }

  .contest-form__title {
    font-size: 18px;
  }

  .contest-form__input-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .contest-form__input-wrapper--contacts {
    flex-direction: column-reverse;
    align-items: stretch;
    margin-right: 20px;
  }

  // .contest-form__input-wrapper--contacts:nth-child(1) {
  //   margin-right: 20px;
  // }

  .contest-form__label {
    margin-right: 22px;
  }

  .contest-form__input-text {
    flex-grow: 1;
  }

  .contest-form__fields-name {
    width: $tablet-width - 20px;
    order: 1;

    border: none;
  }

  .contest-form__fields-app-version {
    width: $tablet-width - 20px;
    order: 2;
  }

  .contest-form__fields-contacts {
    width: $tablet-width - 20px;
    order: 3;
  }

  .contest-form__fields-achievments {
    width: $tablet-width - 20px;
    order: 4;
  }

  .contest-form__fields-emotions {
    width: $tablet-width - 20px;
    order: 5;
  }

  .contest-form__button-wrapper {
    flex-direction: row;

    order: 6;
  }

  .contest-form__fields-legend {
    margin: 0 auto;
    padding: 0 20px;

    text-align: center;
  }

  .contest-form__fields-achievments,
  .contest-form__fields-app-version {
    background-color: $top-menu-text-color;
  }

  .contacts-mobile {
    display: block;
  }

  .contest-form__input-text--emotions {
    padding-bottom: 120px;
  }
}

@media (min-width: $desktop-width) {
  .contest-form__fields {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    width: $desktop-width;
  }

  .contest-form__fields-name {
    width: 400px;
    margin-right: 20px;
    padding-right: 20px;
    padding-left: 20px;

    order: 1;
  }

  .contest-form__fields-app-version {
    width: 400px;
    margin-bottom: 72px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

    order: 2;
  }

  .contest-form__fields-contacts {
    width: $desktop-width;
    flex-direction: row;
    justify-content: space-around;

    order: 3;
  }

  .contest-form__input-wrapper {
    flex-grow: 1;
  }

  .contest-form__input-text {
    width: auto;
  }

  .contest-form__fields-achievments {
    flex-direction: column;
    flex-wrap: wrap;
    width: $desktop-width;
    max-height: 228px;

    order: 4;
  }

  .contest-form__fields-emotions {
    width: $desktop-width;

    order: 5;
  }

  .contest-form__button-wrapper {
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1;
  }
}
