/*
  $Раздел конкурса
*/

.contest-form {
  margin-top: 50px;
}

.fieldset-none {
  @include fieldset-style-none;
}

.contest-form__title {
  margin-right: 25px;
  margin-bottom: 49px;
  margin-left: 25px;

  color: $top-menu-bg-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.contest-form__fields-name {
  display: flex;
  flex-direction: column;
  // align-items: center;
  margin-bottom: 44px;
}

.contest-form__label {
  margin-bottom: 8px;
  padding-left: 21px;

  color: $contacts__link-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.contest-form__input-text {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 18px;

  color: $top-menu-bg-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;

  border: 2px solid #e5e5e5;
}

.contest-form__fields-legend {
  margin-bottom: 50px;
  padding-top: 82px;

  color: $contacts__link-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  text-align: center;
}

.contest-form__label--select {
  color: $top-menu-bg-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-transform: none;
}

.contest-form__fields-achievments,
.contest-form__fields-app-version {
  margin-bottom: 44px;
  padding-top: 41px;

  background-color: $features-list-bg-color;
}

.contest-form__input-checkbox,
.contest-form__input-radio {
  color: $top-menu-bg-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.contest-form__input-checkbox {
  margin-bottom: 50px;
}

.contest-form__fields-contacts {
  margin-bottom: 44px;
}

.contest-form__fields-app-version {
  margin-bottom: 44px;
  padding-top: 41px;
}

.contest-form__fields-emotions {
  margin-bottom: 50px;
  padding-top: 19px;
}

.contest-form__button {
  margin-bottom: 10px;
  padding-top: 23px;
  padding-right: 45px;
  padding-bottom: 22px;
  padding-left: 45px;

  background-color: $contest-form__button-bg-color;
  color: $top-menu-text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  border: none;
  border-radius: 5px;
}

.contest-form__note {
  color: $top-menu-bg-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.contest-form__note span {
  color: $contacts__link-color;
}

// .logotype-pink {
//   margin-bottom: 43px;
// }

// .page-footer__list {
//   margin-bottom: 43px;
// }
