/*
  $Раздел особенностей
*/

.features {
  margin-bottom: 80px;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;

  background: #f2f2f2;
  background: linear-gradient(175deg, transparent 10%, $features-list-bg-color 0%);
}

.features-list {
  @include list-style-none;

  margin-bottom: 45px;
  padding-top: 146px;
  padding-right: 14px;
  padding-left: 14px;

  text-align: center;

  order: 1;
}

.features__slogan {
  margin-top: 46px;
  margin-right: 60px;
  margin-bottom: 20px;
  margin-left: 58px;

  background-color: $top-menu-text-color;
  color: $top-menu-bg-color;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.features-title {
  @include zero-margin-padding;
  padding-bottom: 15px;

  color: $features-title-text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.features-description {
  @include zero-margin-padding;
  padding-bottom: 20px;

  color: $top-menu-bg-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.features__facts {
  display: none;
}

.features__iphones-screen-list {
  @include list-style-none;
  display: flex;
  flex-direction: column;

  order: 2;
}

.information__iphone-screen {
  &:nth-child(1),
  &:nth-child(2) {
    display: none;
  }

  figure {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .features__wrapper {
    flex-direction: row;

    background: linear-gradient(176deg, transparent 20%, $features-list-bg-color 0%);
  }

  .features__slogan {
    font-size: 40px;
    font-weight: 300;
    text-align: center;
  }

  .features__iphones-screen-list {
    order: 1;

    margin-top: -10px;
  }

  .features-list {
    order: 2;

    padding-top: 20px;
  }

  .features__facts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

// Циферблат часов
.timer {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    width: 175px;
    height: 175px;
    top: 54px;
    left: 16px;

    border: 15px solid #d22856;
    border-radius: 50%;
  }

  &:after {
    position: absolute;
    content: "24";
    top: 70px;
    left: 63px;

    color: #d22856;
    font-family: "Open Sans";
    font-size: 96px;
    font-weight: 700;
    line-height: 149.47px;
  }
}

.features__facts-link {
  color: #d22856;

  text-decoration: underline;
}

@media (min-width: $desktop-width) {
  .features__wrapper {
    flex-direction: column;
    align-items: inherit;
  }

  .features__slogan {
    margin-bottom: 75px;

    font-size: 50px;
  }

  .features-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .features__iphones-screen-list {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .information__iphone-screen:nth-child(1),
  .information__iphone-screen:nth-child(2) {
    display: block;
  }

  .features__facts-title {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }

  .features__facts-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }

  .features__facts-link {
    color: #d22856;
    font-weight: 400;
    line-height: 30px;
    text-decoration: underline;
  }
}
