/*
  $Раздел особенностей
*/

.features {
  margin-bottom: 57px;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #f2f2f2;
  background: linear-gradient(175deg, transparent 4%, $features-list-bg-color 0%);
}

.features-list {
  @include list-style-none;

  margin-bottom: 9px;
  padding-top: 84px;
  padding-right: 14px;
  padding-left: 14px;

  text-align: center;

  order: 1;
}

.features__slogan {
  margin-top: 0;
  margin-right: 55px;
  margin-bottom: 32px;
  margin-left: 55px;

  background-color: $top-menu-text-color;
  color: $top-menu-bg-color;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

.features-list__item {
  margin-bottom: 31px;
}

.features-title {
  @include zero-margin-padding;
  padding-bottom: 12px;

  color: $features-title-text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.features-description {
  @include zero-margin-padding;
  padding-right: 11px;
  padding-left: 11px;

  color: $top-menu-bg-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.features__facts {
  display: none;
}

.features__iphones-screen-list {
  @include list-style-none;
  display: flex;
  flex-direction: column;

  order: 2;
}

.information__iphone-screen {
  &:nth-child(1),
  &:nth-child(2) {
    display: none;
  }

  figure {
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .features {
    margin-bottom: 80px;
  }

  .features__wrapper {
    flex-direction: row;
    margin-bottom: 40px;

    background: linear-gradient(176deg, transparent 16%, $features-list-bg-color 0%);
  }

  .features__slogan {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 12px;

    font-size: 40px;
    font-weight: 300;
    text-align: center;
  }

  .features__slogan--second-part {
    padding-top: 4px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .third-iphone-screen {
    content: url("../img/iphone-screen-3-tablet@1x.png");
    width: 268px;
    height: 483px;
    margin-top: 60px;
    margin-left: 21px;
  }

  .features__iphones-screen-list {
    order: 1;

    margin-top: -10px;
  }

  .features-list {
    order: 2;

    padding-top: 120px;
  }

  .features-list__item {
    margin-bottom: 35px;

    text-align: left;
  }

  .features-title {
    margin-left: 27px;
    padding-bottom: 10px;
  }

  .features-description {
    padding-top: 2px;
    margin-left: 15px;

    text-align: left;
  }

  .features__facts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  // Циферблат часов
  .timer {
    position: relative;
    margin-left: 21px;

    &:before {
      position: absolute;
      content: "";
      width: 175px;
      height: 175px;
      top: 54px;
      left: 16px;

      border: 15px solid #d22856;
      border-radius: 50%;
    }

    &:after {
      position: absolute;
      content: "24";
      top: 76px;
      left: 63px;

      color: #d22856;
      font-family: "Open Sans";
      font-size: 96px;
      font-weight: 700;
      line-height: 149.47px;
    }
  }

  .features__facts-title {
    margin-top: 53px;
    margin-left: 30px;
    margin-bottom: 10px;
    padding-right: 150px;

    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
  }

  .features__facts-link {
    margin-top: 0;
    margin-left: 30px;
    color: #d22856;

    text-decoration: underline;
  }

  .features__facts-description {
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 13px;
    padding-right: 35px;

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .features__wrapper {
    flex-direction: column;
    align-items: inherit;
  }

  .features__slogan {
    margin-bottom: 75px;

    font-size: 50px;
  }

  .features-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .features__iphones-screen-list {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .information__iphone-screen:nth-child(1),
  .information__iphone-screen:nth-child(2) {
    display: block;
  }

  .features__facts-title {
    color: #000000;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }

  .features__facts-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
  }

  .features__facts-link {
    color: #d22856;
    font-weight: 400;
    line-height: 30px;
    text-decoration: underline;
  }
}
