/*
  $Раздел особенностей
*/

.features-list {
  background-color: #f2f2f2;
}

.features__slogan {
  color: #283645;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 300;
}

.features-title {
  color: #000000;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.features-description {
  color: #283645;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
