@font-face {
  font-family: $main-font-family;
  src:  url($normal-font-path + ".woff2") format("woff2"),
    url($normal-font-path + ".woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: $main-font-family;
  src:  url($bold-font-path + ".woff2") format("woff2"),
    url($bold-font-path + ".woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: $main-font-family;
  src:  url($light-font-path + ".woff2") format("woff2"),
    url($light-font-path + ".woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
