

.hand-iphone__image {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 462px;

  // background-color: transparent;
  background-color: #2a3a4a;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

@media (min-width: $tablet-width) {
  .hand-iphone__image {
    // content: url("../img/bg-back-mobile@1x.jpg");
    width: $tablet-width;
    min-height: 729px;

    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }
}

@media (min-width: $desktop-width) {
  .hand-iphone__image {
    // content: url("../img/bg-back-mobile@1x.jpg");
    width: $desktop-width;
    min-height: 853px;

    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
  }
}
