/*
  $Раздел навигации
*/

.main-nav__wrapper {
  background-color: $top-menu-bg-color;
}

.site-list__item {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}
