/*
  $Раздел навигации
*/

.main-nav {
  // display: none;
  width: 320px;
  margin: 0 auto;
}

.main-nav__top-menu {
  position: relative;
  background-color: transparentize($top-menu-bg-color, 0.3);

  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
  width: $mobile-width;

  z-index: 10;
}

.main-nav__logo {
  margin-top: 22px;
  // margin-right: 155px;
  margin-bottom: 22px;
  margin-left: 20px;

  &:hover .main-nav__logo-image {
    fill: #d22856;
  }

  &:active .main-nav__logo-image {
    fill: #ffffff;
    opacity: 0.3;
  }
}

.main-nav--closed .main-nav__burger {
  top: 20px;
  right: 10px;

  &::before {
    content: "";

    position: absolute;
    top: 5px;
    left: 10px;

    width: 50px;
    height: 3px;

    background-color: #ffffff;
    box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
  }

  &:hover::before{
    background-color: #d22856;
    box-shadow: 0 8px 0 0 #d22856, 0 16px 0 0 #d22856;
  }

  &:active::before {
    background-color: transparentize(#d22856, 0.7);
    box-shadow: 0 8px 0 0 transparentize(#d22856, 0.7), 0 16px 0 0 transparentize(#d22856, 0.7);
  }
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--opened {
  // position: absolute;
  // top: -10px;

  z-index: 10;

  min-height: 20vh;
}

.main-nav--nojs .main-nav__burger {
  display: none;
}

.main-nav--opened .main-nav__burger {
  top: 20px;
  right: 10px;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 14px;
    left: 18px;

    width: 30px;
    height: 5px;

    background-color: #ffffff;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: #d22856;
  }

  &:active::before,
  &:active::after {
    background-color: transparentize(#d22856, 0.7);
  }
}

.main-nav__burger {
  position: absolute;
  top: 20px;
  right: 10px;
  z-index: 2;

  display: block;
  width: 50px;
  height: 24px;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-nav__list {
  @include list-style-none;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;

  background-color: $top-menu-bg-color;
}

.site-list__item a {
  display: block;
  padding-top: 15px;
  padding-right: 84px;
  padding-bottom: 15px;
  padding-left: 86px;

  color: $top-menu-text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid #000000;

  &:visited {
    color: $top-menu-text-color;
  }

  &:hover {
    color: $contacts__link-color;
  }

  &:active {
    color: transparentize($contacts__link-color, 0.7)
  }
}

.main-nav__list {
  background-color: #283645;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__top-menu {
    width: $tablet-width;
  }

  .main-nav__logo {
    margin-top: 27px;
    margin-left: 40px;

    // Временно для выравнивания
    margin-bottom: 57px;
  }

  // .main-nav__logo-image {
  //   content: url("../img/logo-pink-white-tablet.svg");

  //   width: 147px;
  //   min-height: 40px;
  //   object-fit: contain;
  // }

  .site-list {
    display: flex;
    flex-direction: column;
    // width: 570px;

    /* Временно для сетки */
    min-height: 70px;
  }

  .main-nav__list {
    // display: none;

    background-color: #283645;
  }

  .site-list__item  {
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    // width: auto;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    min-height: 115px;

    background-color: transparentize(#000000, 0.7);
    z-index: 20;
  }

  .main-nav__top-menu {
    width: auto;
    margin: 0;
    align-self: center;

    background-color: transparent;
  }

  // .main-nav__logo {
  //   margin: 0;
  //   padding: 0;
  //   display: flex;
  //   align-items: center;
  // }
  .main-nav__logo {
    @include zero-margin-padding;
  }

  .main-nav__logo-image {
    content: url("../img/logo-pink-white-desktop.svg");

    // margin-top: 27px;
    // margin-right: 173px;
    // margin-bottom: 43px;
    // margin-left: 54px;

    width: 147px;
    min-height: 40px;
    object-fit: contain;
  }

  .main-nav__burger {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 620px;

    background-color: transparent;
  }

  .site-list__item--active a[href] {
    padding-top: 9px;
    padding-bottom: 10px;

    border-bottom: 2px solid #ffffff;

    text-decoration: none;
  }

  .site-list__item {
    display: flex;
    align-items: center;
    margin-right: 70px;
  }

  .site-list__item:last-child {
    margin-right: 0;
  }

  .site-list__item a {
    // padding-top: 26px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding: 0;
    padding-bottom: 8px;
    // padding-right: 20px;
    // padding-bottom: 35px;
    // padding-left: 20px;

    font-size: 18px;
    font-weight: 400;
    line-height: 18px;

    text-transform: none;
    box-shadow: none;
    background-color: transparent;
    border: none;

    cursor: pointer;

    &:hover {
      color: #d22856;
    }

    &:active {
      color: transparentize(#ffffff, 0.7);
    }
  }
}
