/*
  $Раздел навигации
*/

.main-nav {
  // display: none;
  width: 320px;
  margin: 0 auto;
}

.main-nav__top-menu {
  background-color: transparentize($top-menu-bg-color, 0.3);

  display: flex;
  flex-direction: row;
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
  width: $mobile-width;

  z-index: 10;
}

.main-nav__logo {
  height: 75px;
}

.main-nav__logo-image {
  margin-top: 22px;
  // margin-right: 155px;
  margin-bottom: 22px;
  margin-left: 20px;
}

.main-nav__burger {
  margin-top: 22px;
  margin-right: 20px;
  margin-bottom: 21px;
}

.main-nav__list {
  @include list-style-none;

  /* Временно для сетки */
  min-height: 256px;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;

  background-color: $top-menu-bg-color;
}

.site-list__item {
  // margin-top: 26px;
  // margin-right: 89px;
  // margin-bottom: 25px;
  // margin-left: 88px;

  padding-top: 26px;
  padding-right: 89px;
  padding-bottom: 25px;
  padding-left: 88px;

  color: $top-menu-text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
}

.site-list__item a {
  text-decoration: none;
}

.site-list__item a:visited {
  color: $top-menu-text-color;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 660px;
    margin: 0 auto;
  }

  .main-nav__top-menu {
    width: $tablet-width;
  }

  .main-nav__logo-image {
    content: url("../img/logo-pink-white-tablet.svg");

    width: 147px;
    min-height: 40px;
    object-fit: contain;
  }

  .site-list {
    display: flex;
    flex-direction: column;
    // width: 570px;

    /* Временно для сетки */
    min-height: 70px;
  }

  .site-list__item  {
    text-align: center;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 940px;
    margin: 0 auto;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    width: 620px;

    /* Временно для сетки */
    min-height: 70px;
  }

  .main-nav__top-menu {
    width: auto;
    margin: 0;
  }

  .main-nav__logo-image {
    content: url("../img/logo-pink-white-desktop.svg");

    // margin-top: 27px;
    // margin-right: 173px;
    // margin-bottom: 43px;
    margin-left: 54px;

    width: 147px;
    min-height: 40px;
    object-fit: contain;
  }

  .main-nav__burger {
    display: none;
  }

  .site-list__item {
    padding-top: 26px;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 20px;

    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
  }
}
