/*
  $Раздел футера
*/

.page-footer {
  margin-bottom: 40px;
}

.page-footer--index-page {
  display: none;
}

.social-list {
  @include list-style-none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 171px;
}

.page-footer__made-in {
  display: flex;
  align-items: center;
  padding-right: 15px;

  color: $top-menu-bg-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .page-footer--index-page {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-footer--index-page {
    display: block;
  }
}
