/*
  $Раздел футера
*/

.page-footer {
  margin-bottom: 40px;
}

.container--flex-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-footer--index-page {
  display: none;
}

.page-footer__logo {
  margin-bottom: 40px;
}

.page-footer__logo-icon {
  fill: #283645;
}

.page-footer__logo:hover .page-footer__logo-icon {
  fill: #d22856;
}

.page-footer__logo:active .page-footer__logo-icon {
  fill: #283645;
  opacity: 0.3;
}

.social-list {
  @include list-style-none;
  margin-bottom: 40px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 171px;
}

.social-list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;

  border: 3px solid $social-button-border-color;
  border-radius: 50%;

  &:hover {
    border-color: $top-menu-bg-color;
  }

  &:active {
    opacity: 0.1;
  }
}

.page-footer__made-in {
  @include link-decoration-none;
  display: flex;
  align-items: center;
  padding-right: 15px;

  color: $top-menu-bg-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  svg {
    fill: $contacts__link-color;
  }

  &:hover svg{
    fill: $features-title-text-color;
  }

  &:active svg{
    fill: $features-title-text-color;
    opacity: 0.3;
  }
}

.page-footer__made-in svg {
  margin-left: 14px;
}

@media (min-width: $tablet-width) {
  .page-footer--index-page {
    display: block;
  }

  // .page-footer__wrapper {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  //   align-items: center;
  // }

  .container--flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logotype-pink {
    margin-bottom: 0;
  }

  .social-list {
    flex-direction: row;
    margin-bottom: 0;
  }

}

@media (min-width: $desktop-width) {
  .page-footer--index-page {
    display: block;
  }
}
