/*
  $Раздел фотогалерии
*/

.photos__title {
  color: $top-menu-bg-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;

  text-align: center;
}

.photos-list {
  @include list-style-none;
}

.panorama--ribbon {
  background-color: $contacts__link-color;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.photos-list__item {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  margin-bottom: 20px;

  background-color: $features-list-bg-color;
}

.photos-list__image {
  align-content: center;
}

.photos-list__item-author {
  @include zero-margin-padding;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 17px;

  color: $top-menu-bg-color;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.photos-list__item-author span {
  font-size: 12px;
  font-weight: 300;
}

.photos-list__item-description {
  @include zero-margin-padding;
  padding-right: 20px;
  padding-bottom: 21px;
  padding-left: 17px;

  color: $top-menu-bg-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.photos-list__item-likes {
  @include zero-margin-padding;
  padding-right: 20px;
  padding-bottom: 28px;
  padding-left: 50px;

  color: $contacts__link-color;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
}
