/*
  $Раздел подписки
*/
.price {
  margin-bottom: 47px;
}

.price__wrapper {
  padding-top: 150px;

  background: #f2f2f2;
  background: linear-gradient(170deg, transparent 10%, $features-list-bg-color 0%);

  overflow: hidden;
}

.price__features-list {
  border: 2px solid $price__features-list-bg-color;
  border-collapse: none;
}

.price__toggles {
  display: flex;
  justify-content: center;
}

.price__item-title,
.price__item-value {
  width: 280px;

  border: 2px solid $top-menu-bg-color;
  background-color: $top-menu-bg-color;
  border-style: none;
  border-collapse: collapse;
}

.price__item-title {
  padding-top: 22px;
  padding-right: 22px;
  padding-bottom: 22px;
  padding-left: 22px;

  color: $top-menu-text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.price__item-value {
  // padding-top: 22px;
  // padding-right: 22px;
  // padding-bottom: 22px;
  // padding-left: 22px;

  color: $top-menu-text-color;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;

  text-align: center;
}

.price__features-item {
  width: 280px;
  padding-top: 14px;
  padding-right: 22px;
  padding-bottom: 14px;
  padding-left: 22px;

  background-color: $top-menu-text-color;
  color: $top-menu-bg-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.price__features-item--desktop {
  display: none;
}

.price__empty-cell {
  background-color: transparent;
}

#price__toggle-1:checked ~ .price__features-table { margin-left: 0; }
#price__toggle-2:checked ~ .price__features-table { margin-left: -70px; }
#price__toggle-3:checked ~ .price__features-table { margin-left: -140px; }

@media (min-width: $tablet-width) {

  .price__wrapper {
    padding-bottom: 50px;
  }

  .price__features-item {
    max-width: 150px;

    color: #ffffff;
  }

  .price__features-item--desktop {
    display: block;

    color: $top-menu-bg-color;
  }

  .price__toggles {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
