/*
  $Раздел отзывов
*/

.reviews {
  margin-top: -60px;
  margin-bottom: 120px;

  background-color: $top-menu-text-color;
}

.slider__list {
  @include list-style-none;
}

.reviews__wrapper {
  background-color: $top-menu-text-color;

  text-align: center;
}

.reviews__author {
  @include zero-margin-padding;
  // padding-top: 44px;

  color: $features-title-text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.reviews__author-job {
  @include zero-margin-padding;

  display: none;
}

.reviews__description {
  @include zero-margin-padding;

  color: $top-menu-bg-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

@media (min-width: $tablet-width) {
  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__author {
    order: 2;

    font-size: 20px;
  }

  .reviews__author-job {
    order: 3;
    display: block;

    color: $top-menu-bg-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }

  .reviews__description {
    order: 1;
  }
}


@media (min-width: $desktop-width) {
  .reviews__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reviews__quotes-image {
    margin-bottom: 35px;

    background-image: url("../img/icon-quotes.svg");
    width: 79px;
    height: 64px;
    opacity: 0.3;
  }

  .reviews__description {
    padding-right: 127px;
    padding-left: 127px;
    margin-bottom: 30px;
  }

  .reviews__author {
    font-size: 24px;
  }

  .reviews__author-job {
    font-size: 18px;
  }
}
