/*
  $Раздел отзывов
*/

.reviews {
  margin-top: -60px;
  margin-bottom: 20px;

  background-color: $top-menu-text-color;
}

.slider__list {
  @include list-style-none;
  margin-bottom: 30px;
}

.reviews__wrapper {
  background-color: $top-menu-text-color;

  text-align: center;
}

.reviews__author {
  @include zero-margin-padding;
  // padding-top: 44px;

  color: $features-title-text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.reviews__author-job {
  @include zero-margin-padding;

  display: none;
}

.reviews__description {
  @include zero-margin-padding;

  color: $top-menu-bg-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.slider__toggle-container {
  position: relative;
  padding: 10px;

  cursor: pointer;

  &:hover input ~ .slide__toggle-checkmark {
    background-color: transparentize(#283645, 0.4);

  }

  input:active ~ .slide__toggle-checkmark {
    background-color: transparentize(#283645, 0.9);
  }

  input:checked ~ .slide__toggle-checkmark::after {
    display: block;
  }
}

.slider__toggle {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.slide__toggle-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  width: 6px;
  // margin-right: 5px;
  // margin-left: 5px;

  background-color: transparentize(#283645, 0.7);
  border-radius: 50%;

  &::after {
    content: "";
    position: absolute;
    display: none;

    top: -1px;
    left: -1px;
    width: 6px;
    height: 6px;
    border: 2px solid #283645;
    border-radius: 50%;
    background: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .reviews__item {
    display: flex;
    flex-direction: column;
  }

  .reviews__author {
    order: 2;

    font-size: 20px;
  }

  .reviews__author-job {
    order: 3;
    display: block;

    color: $top-menu-bg-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
  }

  .reviews__description {
    order: 1;
  }
}


@media (min-width: $desktop-width) {
  .reviews__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reviews__quotes-image {
    margin-bottom: 35px;

    background-image: url("../img/icon-quotes.svg");
    width: 79px;
    height: 64px;
    opacity: 0.3;
  }

  .reviews__description {
    padding-right: 127px;
    padding-left: 127px;
    margin-bottom: 30px;
  }

  .reviews__author {
    font-size: 24px;
  }

  .reviews__author-job {
    font-size: 18px;
  }
}
