/*
  $Раздел загрузки
*/

.upload__wrapper {
  background-color: #f2f2f2;
}

.upload__post {
  color: #d22856;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.upload__cancel {
  opacity: 0.1;
  color: #283645;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}
