/*
  $Раздел загрузки
*/

.upload {
  margin-bottom: 40px;
}

.upload__wrapper {
  background-color: $features-list-bg-color;
}

.upload__photo {
  margin: 20px;
}

.list-filter {
  @include list-style-none;
}

.upload__filter-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  // width: 200px;
  margin-right: 56px;
  margin-bottom: 20px;
  margin-left: 56px;
}

.upload__filter-scale {
  margin-bottom: 38px;
  padding-bottom: 34px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.filter-icon {
  fill: #d22856;
}

.list-filter__item-button:hover .filter-icon {
  fill:black;
  opacity: 0.3;
}

.upload__button-wrapper {
  display: flex;
  flex-direction: column;
  // margin-bottom: 40px;
}

.upload__button {
  margin-right: 20px;
  margin-bottom: 12px;
  margin-left: 20px;
  padding-top: 15px;
  padding-right: 80px;
  padding-bottom: 15px;
  padding-left: 81px;

  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-decoration: none;

  border-radius: 50px;
}

.upload__post {
  color: $contacts__link-color;

  border: 3px solid #d22856;
}

.upload__cancel {
  opacity: 0.1;
  color: $top-menu-bg-color;

  border: 3px solid #000000;
}

@media (min-width: $tablet-width) {
  .upload__wrapper {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .upload__photo {
    content: url("../img/photo-road-tablet@1x.jpg");
    width: 300px;
    min-height: 400px;

    order: 1;
  }

  .upload_filter-button-wrapper {
    order: 2;
  }

  .upload__filter-list {
    flex-direction: column;
    align-items: center;
    // justify-content: space-between;
    margin: 0;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
  }

  .list-filter__item {
    margin-bottom: 15px;
    padding-right: 200px;
    padding-bottom: 15px;
  }

  // .upload__button-wrapper {
  //   order: 3;
  // }
}

@media (min-width: $desktop-width) {
  .upload__button-wrapper {
    flex-direction: row;
  }
}
