// Переменные цветов

$top-menu-text-color: #ffffff;
$top-menu-bg-color: #283645;

$features-list-bg-color: #f2f2f2;
$features-title-text-color: #000000;

$price__features-list-bg-color: #e5e5e5;

$contacts__link-color: #d22856;
$contest-form__button-bg-color: #2aab6d;
